
@{
    ViewBag.Title = "ProductAdd";
}

<h2>ProductAdd</h2>
<form action="ProductAdd" method="post">
    <h3>@ViewBag.message</h3>
    <label>Product Name</label><br />
    <input type="text" id="Name" class="form-control" name="Name" /><br />
    <label>Product Type</label><br />
    <input type="text" id="Type" class="form-control" name="Type" /><br /><br />
    <input type="submit" class="btn btn-success" value="Submit Data" />


</form>

